#linkedin {
    color: rgb(17, 0, 255);
}

.title {
    text-align: center;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 00 0.2em #87F;
    border: 10px solid burlywood;
    background-color: aqua;
}

body{
    width:95%;
    height:80%;
    color:black;
    font-weight:bold;
    animation: myanimation 10s infinite;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

@keyframes myanimation {
    0% {background-color: rgb(213, 247, 159);}
    25%{background-color:rgb(138, 138, 90);}
    50%{background-color:rgb(73, 218, 223);}
    75%{background-color:rgb(212, 120, 120);}
    100% {background-color: rgb(139, 243, 139);}
  }


  /* O container geral define a perspectiva */  
.flip-container { perspective: 100; }  	

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);  	
}    
.flip-container, .front, .back {  	
  width: 520px;  	
  height: 150px;  
}

/* define a velocidade da transição */
.flipper {  	
  transition: 2s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
/* esconde o verso durante a animação */
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
 left: 0;  
}
    
/* frente posicionada sobre o verso */
.front { z-index: 2; align-content: center; }    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }

.menu{
  text-align: center;
  justify-content: center;
  text-size-adjust: edge;
}


#bazuca{
    border: 7px solid cadetblue; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;

    border: 6px solid darkgray;

    border: 6px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}